{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Marduk</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sapiente, porro illum temporibus, quibusdam quo quam quod quae vero suscipit dolorum quia ab fuga incidunt a aliquam pariatur minima libero.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/marduk.jpg" alt="Marduk" class="img-thumbnail">
        </div>
    </div>

{{> footer }}